*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    --main-color: #2F4858;
    --accent-color: #F26419;
}

@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #5e5e5e;
}

.site-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: none;
    background: var(--main-color);
    display: block;
    z-index: 100;
}

.site-header-inside {
    display: flex;
    align-items: center;
    transition: all ease .3s;
    /* Move this to only if display is certain size */
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    /*                                              */
    width: 92%;
    margin-right: auto;
    margin-left: auto;
}

.header-logo {
    flex-shrink: 0;
    color: #fff;
}

.header-logo>a {
    color: #fff;
    font-size: 1.75rem;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .063em;
    text-decoration: none;
}

.header-menu {
    margin-left: auto;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 50px;
    font-size: 1.375rem;
}

.menu-link {
    color: #ababab;
    text-decoration: none;
    position: relative;
    display: block;
    transition: color ease .3s;
}

.menu-link:hover {
    color: #fff;
}

ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: var(--accent-color);
    transition: transform 0.25s;
    transform: scaleX(0);
    transform-origin: right;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.site-intro {
    border-bottom: none;
    background: var(--main-color);
    /* Move this to only if display is certain size */
    background-size: 700px;
    padding-top: 111px;
    padding-bottom: 100px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 95%);
}

.site-intro-inside {
    transition: all ease .45s;
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding-top: 130px;
    padding-bottom: 130px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
}

.site-intro-content {
    padding-right: 147px;
    text-align: left;
}

.site-intro-content>h1 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 400;
}

.site-intro-content>h2 {
    color: #ababab;
    margin-top: 35px;
    font-weight: 300;
    line-height: 140%;
    font-size: 2.125rem;
}

.intro-button {
    margin-top: 35px;
    transition: all ease .3s;
    font-size: 1.75rem;
    padding: 26px 48px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    background: var(--accent-color);
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    color: #fff;
}